@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	min-height: 100vh;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	font-family: "Poppins", sans-serif;
}
